.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.871094;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.820000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.863770;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.040000px;}
._2{width:1.072000px;}
._1{width:18.000000px;}
._3{width:34.896000px;}
.fc4{color:rgb(192,0,0);}
.fc0{color:rgb(146,208,80);}
.fc1{color:rgb(255,255,255);}
.fc3{color:rgb(0,0,0);}
.fc2{color:rgb(31,56,100);}
.fs3{font-size:44.000000px;}
.fs5{font-size:48.000000px;}
.fs4{font-size:64.000000px;}
.fs6{font-size:72.000000px;}
.fs0{font-size:104.000000px;}
.fs1{font-size:192.000000px;}
.fs2{font-size:280.000000px;}
.y8{bottom:0.000000px;}
.y0{bottom:1.500000px;}
.y7{bottom:2.600000px;}
.y18{bottom:59.100000px;}
.y6{bottom:110.800000px;}
.y5{bottom:131.700000px;}
.y3b{bottom:159.000000px;}
.y1f{bottom:167.000000px;}
.y4{bottom:178.600000px;}
.y3d{bottom:209.500000px;}
.y41{bottom:247.800000px;}
.y40{bottom:262.500000px;}
.y36{bottom:273.500000px;}
.y3f{bottom:277.100000px;}
.y3e{bottom:288.500000px;}
.y3a{bottom:303.500000px;}
.y37{bottom:327.000000px;}
.y39{bottom:343.000000px;}
.y1e{bottom:344.800000px;}
.y42{bottom:347.000000px;}
.y1d{bottom:359.500000px;}
.y1b{bottom:369.500000px;}
.y35{bottom:391.900000px;}
.y34{bottom:406.600000px;}
.y33{bottom:421.200000px;}
.y1a{bottom:433.800000px;}
.y32{bottom:435.900000px;}
.y3c{bottom:443.000000px;}
.y19{bottom:443.500000px;}
.y31{bottom:450.500000px;}
.y30{bottom:465.200000px;}
.y2f{bottom:479.800000px;}
.y2e{bottom:494.500000px;}
.y2d{bottom:509.100000px;}
.y17{bottom:517.500000px;}
.y2c{bottom:523.800000px;}
.y16{bottom:532.200000px;}
.y2b{bottom:538.400000px;}
.y15{bottom:546.800000px;}
.y2a{bottom:553.100000px;}
.y29{bottom:567.700000px;}
.y14{bottom:576.100000px;}
.y28{bottom:582.400000px;}
.y13{bottom:590.800000px;}
.y27{bottom:597.000000px;}
.y12{bottom:605.400000px;}
.y26{bottom:611.700000px;}
.y11{bottom:620.100000px;}
.y25{bottom:626.300000px;}
.y10{bottom:634.700000px;}
.y24{bottom:641.000000px;}
.yf{bottom:649.400000px;}
.y38{bottom:655.600000px;}
.y23{bottom:670.300000px;}
.ye{bottom:678.700000px;}
.y22{bottom:684.900000px;}
.y2{bottom:685.400000px;}
.yd{bottom:693.300000px;}
.y21{bottom:699.600000px;}
.yc{bottom:708.000000px;}
.y1{bottom:717.100000px;}
.yb{bottom:722.600000px;}
.y20{bottom:730.400000px;}
.y1c{bottom:738.800000px;}
.ya{bottom:753.400000px;}
.y3{bottom:761.000000px;}
.y9{bottom:794.700000px;}
.h6{height:18.100000px;}
.h5{height:30.486328px;}
.he{height:32.906250px;}
.h9{height:33.257812px;}
.h7{height:44.343750px;}
.ha{height:49.218750px;}
.h2{height:72.058594px;}
.h13{height:107.500000px;}
.h3{height:131.250000px;}
.h4{height:186.480000px;}
.hd{height:207.500000px;}
.h10{height:209.000000px;}
.h11{height:247.000000px;}
.hb{height:260.000000px;}
.hf{height:262.500000px;}
.h14{height:312.000000px;}
.hc{height:315.000000px;}
.h12{height:333.000000px;}
.h15{height:341.000000px;}
.h1{height:840.500000px;}
.h8{height:841.800000px;}
.h0{height:841.861417px;}
.w2{width:316.700000px;}
.w4{width:425.000000px;}
.w5{width:425.500000px;}
.w1{width:594.000000px;}
.w3{width:595.200000px;}
.w0{width:595.275591px;}
.x6{left:0.000000px;}
.x0{left:1.500000px;}
.x2{left:16.300000px;}
.x1{left:30.100000px;}
.x7{left:85.200000px;}
.xa{left:103.200000px;}
.x8{left:120.600000px;}
.x5{left:193.400000px;}
.x4{left:258.700000px;}
.x3{left:434.400000px;}
.xb{left:498.300000px;}
.x9{left:504.300000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.386667pt;}
._2{width:1.429333pt;}
._1{width:24.000000pt;}
._3{width:46.528000pt;}
.fs3{font-size:58.666667pt;}
.fs5{font-size:64.000000pt;}
.fs4{font-size:85.333333pt;}
.fs6{font-size:96.000000pt;}
.fs0{font-size:138.666667pt;}
.fs1{font-size:256.000000pt;}
.fs2{font-size:373.333333pt;}
.y8{bottom:0.000000pt;}
.y0{bottom:2.000000pt;}
.y7{bottom:3.466667pt;}
.y18{bottom:78.800000pt;}
.y6{bottom:147.733333pt;}
.y5{bottom:175.600000pt;}
.y3b{bottom:212.000000pt;}
.y1f{bottom:222.666667pt;}
.y4{bottom:238.133333pt;}
.y3d{bottom:279.333333pt;}
.y41{bottom:330.400000pt;}
.y40{bottom:350.000000pt;}
.y36{bottom:364.666667pt;}
.y3f{bottom:369.466667pt;}
.y3e{bottom:384.666667pt;}
.y3a{bottom:404.666667pt;}
.y37{bottom:436.000000pt;}
.y39{bottom:457.333333pt;}
.y1e{bottom:459.733333pt;}
.y42{bottom:462.666667pt;}
.y1d{bottom:479.333333pt;}
.y1b{bottom:492.666667pt;}
.y35{bottom:522.533333pt;}
.y34{bottom:542.133333pt;}
.y33{bottom:561.600000pt;}
.y1a{bottom:578.400000pt;}
.y32{bottom:581.200000pt;}
.y3c{bottom:590.666667pt;}
.y19{bottom:591.333333pt;}
.y31{bottom:600.666667pt;}
.y30{bottom:620.266667pt;}
.y2f{bottom:639.733333pt;}
.y2e{bottom:659.333333pt;}
.y2d{bottom:678.800000pt;}
.y17{bottom:690.000000pt;}
.y2c{bottom:698.400000pt;}
.y16{bottom:709.600000pt;}
.y2b{bottom:717.866667pt;}
.y15{bottom:729.066667pt;}
.y2a{bottom:737.466667pt;}
.y29{bottom:756.933333pt;}
.y14{bottom:768.133333pt;}
.y28{bottom:776.533333pt;}
.y13{bottom:787.733333pt;}
.y27{bottom:796.000000pt;}
.y12{bottom:807.200000pt;}
.y26{bottom:815.600000pt;}
.y11{bottom:826.800000pt;}
.y25{bottom:835.066667pt;}
.y10{bottom:846.266667pt;}
.y24{bottom:854.666667pt;}
.yf{bottom:865.866667pt;}
.y38{bottom:874.133333pt;}
.y23{bottom:893.733333pt;}
.ye{bottom:904.933333pt;}
.y22{bottom:913.200000pt;}
.y2{bottom:913.866667pt;}
.yd{bottom:924.400000pt;}
.y21{bottom:932.800000pt;}
.yc{bottom:944.000000pt;}
.y1{bottom:956.133333pt;}
.yb{bottom:963.466667pt;}
.y20{bottom:973.866667pt;}
.y1c{bottom:985.066667pt;}
.ya{bottom:1004.533333pt;}
.y3{bottom:1014.666667pt;}
.y9{bottom:1059.600000pt;}
.h6{height:24.133333pt;}
.h5{height:40.648438pt;}
.he{height:43.875000pt;}
.h9{height:44.343750pt;}
.h7{height:59.125000pt;}
.ha{height:65.625000pt;}
.h2{height:96.078125pt;}
.h13{height:143.333333pt;}
.h3{height:175.000000pt;}
.h4{height:248.640000pt;}
.hd{height:276.666667pt;}
.h10{height:278.666667pt;}
.h11{height:329.333333pt;}
.hb{height:346.666667pt;}
.hf{height:350.000000pt;}
.h14{height:416.000000pt;}
.hc{height:420.000000pt;}
.h12{height:444.000000pt;}
.h15{height:454.666667pt;}
.h1{height:1120.666667pt;}
.h8{height:1122.400000pt;}
.h0{height:1122.481890pt;}
.w2{width:422.266667pt;}
.w4{width:566.666667pt;}
.w5{width:567.333333pt;}
.w1{width:792.000000pt;}
.w3{width:793.600000pt;}
.w0{width:793.700787pt;}
.x6{left:0.000000pt;}
.x0{left:2.000000pt;}
.x2{left:21.733333pt;}
.x1{left:40.133333pt;}
.x7{left:113.600000pt;}
.xa{left:137.600000pt;}
.x8{left:160.800000pt;}
.x5{left:257.866667pt;}
.x4{left:344.933333pt;}
.x3{left:579.200000pt;}
.xb{left:664.400000pt;}
.x9{left:672.400000pt;}
}
